{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:storybook/recommended",
    "plugin:tailwindcss/recommended",
  ],
  "settings": {
    "tailwindcss": {
      "config": "./tailwind.config.js",
    },
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
  },
}
